<div class="test-run-name" style="margin: 10px auto; font-size: 1.3rem; font-weight: 600; color: #232360;">
    {{testRun.name}}
</div>
<div style="display: flex; justify-content: space-evenly; margin-bottom: 40px;">
    <div class="info">
        <div class="status-circle">
            <div class="inner-circle">
            </div>
            <span>{{testRunStatus}}%</span>
            <svg class="testrun-status circle" height="160" width="160" xmlns="http://www.w3.org/2000/svg">
                <circle class="testrun-status-circle" r="70" cx="80" cy="80" fill="red" style="stroke: #1EA7FF;" />
            </svg>
        </div>
        <div class="info-detail">
            <p>Testrun status</p>
        </div>
    </div>
    <div class="info">
        <div class="status-circle">
            <div class="inner-circle">
            </div>
            <span>{{issueStatus}}%</span>
            <svg class="issue-status circle" height="160" width="160" xmlns="http://www.w3.org/2000/svg">
                <circle class="issues-status-circle" r="70" cx="80" cy="80" fill="red" style="stroke: #FF1E1E;" />
            </svg>
        </div>
        <div class="info-detail">
            <p>Issue status</p>
        </div>
    </div>
</div>

<div class="main-area flex-grow-1" style="min-height: 600px;">
    <div class="content row m-2" style="height: 100%; padding: 0 5%;">
        <div class="col-3"
            style="height: 100%; background-color: #FFFFFF; border-top-right-radius: 20px; border-top-left-radius: 20px;">
            <div class="d-flex justify-content-between align-items-center p-3"
                style="border-bottom: solid rgba(150,150,150,0.2) 1px; height: 80px;">
                <p style="color:#232360; font-size: 1.2rem; padding: 0; margin: 0; font-weight: bold;">Modules</p>
            </div>
            <div class="d-flex flex-column gap-3 modules-list px-4 py-3"
                style="color: #232360; font-weight: 700; font-size: 1.1rem;">
                {{#each modules}}
                <div class="module" data-module-id="{{this.module_id}}">
                    <i class="bi bi-folder"></i>
                    {{this.name}}
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-1 offset-col"></div>
        <div class="col-8"
            style="height: 100%; background-color: #FFFFFF; border-top-right-radius: 20px; border-top-left-radius: 20px;">
            <div class="d-flex justify-content-between align-items-center p-3"
                style="border-bottom: solid rgba(150,150,150,0.2) 1px; height: 80px;">
                <p style="color:#232360; font-size: 1.2rem; padding: 0; margin: 0; font-weight: bold;">Testcases</p>
                <button class="add-testcase-btn"
                    style="background-color: #50DF89; padding: 10px; font-weight: 600; font-size: 1.2rem; border: none; border-radius: 10px;  color: #23235F;">
                    <i class="bi bi-plus-circle"></i>
                    <span class="btn-text"> Add Test Case </span>
                </button>
                <input type="text" class="form-control" id="search-input-title" placeholder="Search by Title"
                    style="color: #C4C4DA; font-weight: 600; width: 24%; background-color: #F1F1F1; border-radius: 5px; border:none; padding: 10px" />
            </div>
            <div class="d-flex align-items-center justify-content-between px-xl-5 py-xl-4" style="height: 10%;">
                <div class="top-left-testcase-list d-flex justify-content-center align-items-center gap-3">
                    <p style="font-size: 1rem; color: #9c9c9c; font-weight: 600;">Show</p>
                    <select name="show" class="form-select number-of-row" aria-label="Default select example">
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                </div>
                <div class="top-right-testcase-list d-flex justify-content-between align-items-center gap-3">
                    <select name="feature" class="form-select feature" aria-label="Default select example"
                        style="width: max-content;">
                        <option value="tc.testcase_id">Testcase Code</option>
                        <option value="tc.name">Testcase Title</option>
                    </select>
                    <select name="sort" style="width: max-content;" class="form-select sorting"
                        aria-label="Default select example">
                        <option value="ASC">ASC</option>
                        <option value="DESC">DES</option>
                    </select>
                </div>
            </div>
            <div class="test-caselist">
                <div class="table-responsive" style="overflow-y: auto; padding: 0 3rem;">
                    <table class="table">
                        <thead class="fs-xl-5">
                            <th class="col-xl-4 col-md-3 testcase-code">Testcase Code</th>
                            <th class="col-xl-4 col-md-4 testcase-name">Testcase Title</th>
                            <th class="col-xl-2 col-md-3 status">Status</th>
                            <th class="col-xl-2 col-md-3">Action</th>
                        </thead>
                        <tbody class="fs-xl-5">
                            {{#each testcases}}
                            <tr>
                                <td class="testcase-code">{{this.testcase_id}}</td>
                                <td class="testcase-name ellispe">{{this.name}}</td>
                                <td class="status {{{formatClassName this.status}}}"> {{this.status}}</td>
                                <td>
                                    <i class="bi bi-bug hover-icon bug-icon" style="margin-right: 10px;"></i>
                                    <i class="bi bi-plus-circle hover-icon result-icon text-success"
                                        style="margin-right: 10px;"></i>
                                    <i class="bi bi-trash text-danger hover-icon delete-icon"></i>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <nav style="margin: 0 auto;">
                {{{paginate pagination
                paginationClass="pagination justify-content-center p-1"
                leftText = '<i class="bi bi-arrow-left"></i>'
                rightText = '<i class="bi bi-arrow-right"></i>'
                }}}
            </nav>
        </div>
    </div>
</div>

<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content align-items-center"
            style="color: #232360; font-weight: 900; padding: 0 6%; background-color: #F3F4F8;">
            <div class="modal-header" style="border-bottom: none; flex-direction: column;">
                <p class="modal-title fs-3" id="modalTitleId">
                    Add Issue
                </p>
                <p class="modal-scd-title fs-4"></p>
            </div>
            <div class="modal-body" style="border-bottom: none; width: 100%;">
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="issue-name">Issue's Name <span style="color: #F0270C" ;>*</span>:</label>
                        <input name="issue-name" type="text" class="form-control" id="issue-name" />
                    </div>
                    <div class="col-6">
                        <label for="issue-type">Issue's Type:</label>
                        <select name="issue-type" class="form-control" aria-label="Default select example"
                            id="issue-type">
                            {{#each issueTypes}}
                            <option value="{{this.issue_type_id}}">{{this.type}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row mb-3 align-items-center">
                    <div class="col-6">
                        <label for="status">Assign to:</label>
                        <select name="assigned" class="form-control" aria-label="Default select example"
                            id="assigned-to">
                            {{#each users}}
                            <option value="{{this.user_id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="priority">Priority:</label>
                        <select name="priority" class="form-control" aria-label="Default select example" id="priority">
                            <option value="1">High</option>
                            <option value="2">Medium</option>
                            <option value="3">Low</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div>
                        <lable for="comment">
                            Comment:
                        </lable>
                        <textarea id="comment" name="comment" class="form-control" placeholder="Description"
                            rows="4"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none;">
                <button type="button" class="btn btn-secondary next-button"
                    style="background-color: #41D37E; color: #23235F; border: none; border-radius: 10px; padding: 10px 40px; font-weight: 600;"
                    onclick="onSaveIssueClick()">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content align-items-center"
            style="color: #232360; font-weight: 900; padding: 0 6%; background-color: #F3F4F8;">
            <div class="modal-header" style="border-bottom: none; flex-direction: column;">
                <p class="modal-title fs-3" id="modalTitleId">
                    Add Result
                </p>
                <p class="modal-scd-title fs-5"></p>
            </div>
            <div class="modal-body" style="border-bottom: none; width: 100%;">
                <div class="row mb-3 align-items-center">
                    <div class="col-6">
                        <label for="status">Status:</label>
                        <select name="status" class="form-control" aria-label="Default select example"
                            id="result-status">
                            <option value="3">Passed</option>
                            <option value="4">Failed</option>
                            <option value="2">Blocked</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div>
                        <lable for="comment">
                            Comment:
                        </lable>
                        <textarea id="comment" name="comment" class="form-control" placeholder="Description"
                            rows="4"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none;">
                <button type="button" class="btn btn-secondary next-button"
                    style="background-color: #41D37E; color: #23235F; border: none; border-radius: 10px; padding: 10px 40px; font-weight: 600;"
                    onclick="onSaveResultClick()">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-test-case" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
        <div class="modal-content align-items-center"
            style="color: #232360; font-weight: 900; padding: 0 6%; background-color: #F3F4F8; height: 90vh;">
            <div class="modal-header" style="border-bottom: none; width: 100%;">
                <p class="modal-title fs-3" id="modalTitleId" style="margin-left: auto; margin-right: auto;">
                    Add New TestCase
                </p>
            </div>
            <div class="modal-body d-flex flex-column" style="border-bottom: none; width: 100%; overflow-y: auto;">
                <div class="row mb-3">
                    <p style="color: #9C9C9C; font-weight: 600;">Add other testcases</p>
                </div>
                <div class="row mb-3 flex-grow-1">
                    <div class="col-12"
                        style="background-color: #FFFFFF; border-radius: 5%; position: relative;">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <th class="col-1" style="opacity: 0;"><input type="checkbox"></th>
                                    <th class="col-2">Testcase Code</th>
                                    <th class="col-9" style="background-color: transparent;">Testcase Title</th>
                                </thead>
                                <tbody>
                                    {{#each unAddedTestcases}}
                                    <tr>
                                        <td><input type="checkbox" class="testcase-checkbox"></td>
                                        <td class="testcase-code">{{this.testcase_id}}</td>
                                        <td class="testcase-name">{{this.name}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <div class="all-testcase-choose"
                            style="position: absolute; top: 0; right: 0; transform: translateY(-100%);">
                            <input type="checkbox" class="all-testcase-checkbox">
                            <label for="all-testcase">Select all testcase</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer gap-4" style="border-top: none;">
                <button type="button" class="btn btn-secondary close-button"
                    style="background-color: #756f71; color: #FBE416; border: none; border-radius: 10px; padding: 10px 40px; font-weight: 600;">
                    Close
                </button>
                <button type="button" class="btn btn-secondary save-button"
                    style="background-color: #41D37E; color: #23235F; border: none; border-radius: 10px; padding: 10px 40px; font-weight: 600;">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

{{> delete-test-case-test-run-modal}}

{{#block "script"}}
<script src="/js/detailTestrunActionBtn.js"></script>
<script>
    $('document').ready(function () {
    const testrun_status = {{ testRunStatus }};
    const issue_status = {{ issueStatus }};

    const testrunOffset = 440 - (440 * testrun_status) / 100;
    const issueOffset = 440 - (440 * issue_status) / 100;

    $('.testrun-status-circle').css('stroke-dashoffset', testrunOffset);
    $('.issues-status-circle').css('stroke-dashoffset', issueOffset);
    });
</script>

{{/block}}