<link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<div class="container-fluid mt-3" style="overflow-y: auto;">
    <div class="row">
        <div class="col-sm-8">
            <div class="card custom-card">
                <!-- Header của card -->
                <div class="card-header bg-white border-0 align-items-center">
                    <div class="row">
                        <div class="col">
                            <h3 class="card-title">Statistic - Issues</h3>
                        </div>
                    </div>
                </div>
                <div class="custom-divider"></div>
                <!-- Nội dung (body) của card -->
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col col-3 d-none d-xl-block" style="margin-left: -20px;">
                                <div id="apexchartschartPie"
                                    class="apexcharts-canvas apexchartschartPie apexcharts-theme-light"
                                    style="width: 150px; height: 125.7px;"><svg id="SvgjsSvg1184" width="150"
                                        height="125.7" xmlns="http://www.w3.org/2000/svg" version="1.1"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                        class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)"
                                        style="background: transparent;">
                                        <g id="SvgjsG1186" class="apexcharts-inner apexcharts-graphical"
                                            transform="translate(25.5, 0)">
                                            <defs id="SvgjsDefs1185">
                                                <clipPath id="gridRectMask5qxx69oo">
                                                    <rect id="SvgjsRect1188" width="107" height="125" x="-3" y="-1"
                                                        rx="0" ry="0" opacity="1" stroke-width="0" stroke="none"
                                                        stroke-dasharray="0" fill="#fff"></rect>
                                                </clipPath>
                                                <clipPath id="gridRectMarkerMask5qxx69oo">
                                                    <rect id="SvgjsRect1189" width="105" height="127" x="-2" y="-2"
                                                        rx="0" ry="0" opacity="1" stroke-width="0" stroke="none"
                                                        stroke-dasharray="0" fill="#fff"></rect>
                                                </clipPath>
                                                <radialGradient id="SvgjsRadialGradient1195"
                                                    gradientUnits="userSpaceOnUse" cx="50.5" cy="61.5"
                                                    r="54.00000000000001">
                                                    <stop id="SvgjsStop1196" stop-opacity="1"
                                                        stop-color="rgba(196,228,198,1)" offset="0.8"></stop>
                                                    <stop id="SvgjsStop1197" stop-opacity="1"
                                                        stop-color="rgba(165,214,167,1)" offset="1"></stop>
                                                    <stop id="SvgjsStop1198" stop-opacity="1"
                                                        stop-color="rgba(165,214,167,1)" offset="1"></stop>
                                                </radialGradient>
                                                <radialGradient id="SvgjsRadialGradient1201"
                                                    gradientUnits="userSpaceOnUse" cx="50.5" cy="61.5"
                                                    r="54.00000000000001">
                                                    <stop id="SvgjsStop1202" stop-opacity="1"
                                                        stop-color="rgba(173,227,252,1)" offset="0.8"></stop>
                                                    <stop id="SvgjsStop1203" stop-opacity="1"
                                                        stop-color="rgba(129,212,250,1)" offset="1"></stop>
                                                    <stop id="SvgjsStop1204" stop-opacity="1"
                                                        stop-color="rgba(129,212,250,1)" offset="1"></stop>
                                                </radialGradient>
                                                <radialGradient id="SvgjsRadialGradient1207"
                                                    gradientUnits="userSpaceOnUse" cx="50.5" cy="61.5"
                                                    r="54.00000000000001">
                                                    <stop id="SvgjsStop1208" stop-opacity="1"
                                                        stop-color="rgba(204,213,217,1)" offset="0.8"></stop>
                                                    <stop id="SvgjsStop1209" stop-opacity="1"
                                                        stop-color="rgba(176,190,197,1)" offset="1"></stop>
                                                    <stop id="SvgjsStop1210" stop-opacity="1"
                                                        stop-color="rgba(176,190,197,1)" offset="1"></stop>
                                                </radialGradient>
                                                <radialGradient id="SvgjsRadialGradient1213"
                                                    gradientUnits="userSpaceOnUse" cx="50.5" cy="61.5"
                                                    r="54.00000000000001">
                                                    <stop id="SvgjsStop1214" stop-opacity="1"
                                                        stop-color="rgba(255,222,172,1)" offset="0.8"></stop>
                                                    <stop id="SvgjsStop1215" stop-opacity="1"
                                                        stop-color="rgba(255,204,128,1)" offset="1"></stop>
                                                    <stop id="SvgjsStop1216" stop-opacity="1"
                                                        stop-color="rgba(255,204,128,1)" offset="1"></stop>
                                                </radialGradient>
                                                <radialGradient id="SvgjsRadialGradient1219"
                                                    gradientUnits="userSpaceOnUse" cx="50.5" cy="61.5"
                                                    r="54.00000000000001">
                                                    <stop id="SvgjsStop1220" stop-opacity="1"
                                                        stop-color="rgba(245,189,189,1)" offset="0.8"></stop>
                                                    <stop id="SvgjsStop1221" stop-opacity="1"
                                                        stop-color="rgba(239,154,154,1)" offset="1"></stop>
                                                    <stop id="SvgjsStop1222" stop-opacity="1"
                                                        stop-color="rgba(239,154,154,1)" offset="1"></stop>
                                                </radialGradient>
                                                <radialGradient id="SvgjsRadialGradient1225"
                                                    gradientUnits="userSpaceOnUse" cx="50.5" cy="61.5"
                                                    r="54.00000000000001">
                                                    <stop id="SvgjsStop1226" stop-opacity="1"
                                                        stop-color="rgba(185,167,144,1)" offset="0.8"></stop>
                                                    <stop id="SvgjsStop1227" stop-opacity="1"
                                                        stop-color="rgba(147,119,85,1)" offset="1"></stop>
                                                    <stop id="SvgjsStop1228" stop-opacity="1"
                                                        stop-color="rgba(147,119,85,1)" offset="1"></stop>
                                                </radialGradient>
                                                <radialGradient id="SvgjsRadialGradient1231"
                                                    gradientUnits="userSpaceOnUse" cx="50.5" cy="61.5"
                                                    r="54.00000000000001">
                                                    <stop id="SvgjsStop1232" stop-opacity="1"
                                                        stop-color="rgba(211,172,240,1)" offset="0.8"></stop>
                                                    <stop id="SvgjsStop1233" stop-opacity="1"
                                                        stop-color="rgba(188,127,232,1)" offset="1"></stop>
                                                    <stop id="SvgjsStop1234" stop-opacity="1"
                                                        stop-color="rgba(188,127,232,1)" offset="1"></stop>
                                                </radialGradient>
                                                <radialGradient id="SvgjsRadialGradient1237"
                                                    gradientUnits="userSpaceOnUse" cx="50.5" cy="61.5"
                                                    r="54.00000000000001">
                                                    <stop id="SvgjsStop1238" stop-opacity="1"
                                                        stop-color="rgba(104,195,209,1)" offset="0.8"></stop>
                                                    <stop id="SvgjsStop1239" stop-opacity="1"
                                                        stop-color="rgba(23,162,184,1)" offset="1"></stop>
                                                    <stop id="SvgjsStop1240" stop-opacity="1"
                                                        stop-color="rgba(23,162,184,1)" offset="1"></stop>
                                                </radialGradient>
                                            </defs>
                                            <g id="SvgjsG1190" class="apexcharts-pie">
                                                <g id="SvgjsG1191" transform="translate(0, 0) scale(1)">
                                                    <circle id="SvgjsCircle1192" r="35.1" cx="50.5" cy="61.5"
                                                        fill="transparent"></circle>
                                                    <g id="SvgjsG1193" class="apexcharts-slices">
                                                        <g id="SvgjsG1194"
                                                            class="apexcharts-series apexcharts-pie-series"
                                                            seriesname="Passed" rel="1" data:realindex="0">
                                                            <path id="SvgjsPath1199"
                                                                d="M 12.31623381592643 23.316233815926424 A 54.00000000000001 54.00000000000001 0 0 1 12.31623381592643 23.316233815926424 L 25.680551980352185 36.68055198035218 A 35.1 35.1 0 0 0 25.680551980352185 36.68055198035218 L 12.31623381592643 23.316233815926424 z"
                                                                fill="url(#SvgjsRadialGradient1195)" fill-opacity="1"
                                                                stroke-opacity="1" stroke-linecap="butt"
                                                                stroke-width="2" stroke-dasharray="0"
                                                                class="apexcharts-pie-area apexcharts-donut-slice-0"
                                                                index="0" j="0" data:angle="0" data:startangle="-45"
                                                                data:strokewidth="2" data:value="0"
                                                                data:pathorig="M 12.31623381592643 23.316233815926424 A 54.00000000000001 54.00000000000001 0 0 1 12.31623381592643 23.316233815926424 L 25.680551980352185 36.68055198035218 A 35.1 35.1 0 0 0 25.680551980352185 36.68055198035218 L 12.31623381592643 23.316233815926424 z"
                                                                stroke="#ffffff" data:pieclicked="false"
                                                                selected="false"></path>
                                                        </g>
                                                        <g id="SvgjsG1200"
                                                            class="apexcharts-series apexcharts-pie-series"
                                                            seriesname="Untested" rel="2" data:realindex="1">
                                                            <path id="SvgjsPath1205"
                                                                d="M 12.31623381592643 23.316233815926424 A 54.00000000000001 54.00000000000001 0 1 1 12.309570073125052 23.32289872187183 L 25.676220547531287 36.684884169216694 A 35.1 35.1 0 1 0 25.680551980352185 36.68055198035218 L 12.31623381592643 23.316233815926424 z"
                                                                fill="url(#SvgjsRadialGradient1201)" fill-opacity="1"
                                                                stroke-opacity="1" stroke-linecap="butt"
                                                                stroke-width="2" stroke-dasharray="0"
                                                                class="apexcharts-pie-area apexcharts-donut-slice-1"
                                                                index="0" j="1" data:angle="360" data:startangle="-45"
                                                                data:strokewidth="2" data:value="20"
                                                                data:pathorig="M 12.31623381592643 23.316233815926424 A 54.00000000000001 54.00000000000001 0 1 1 12.309570073125052 23.32289872187183 L 25.676220547531287 36.684884169216694 A 35.1 35.1 0 1 0 25.680551980352185 36.68055198035218 L 12.31623381592643 23.316233815926424 z"
                                                                stroke="#ffffff" selected="false"
                                                                data:pieclicked="false"></path>
                                                        </g>
                                                        <g id="SvgjsG1206"
                                                            class="apexcharts-series apexcharts-pie-series"
                                                            seriesname="Blocked" rel="3" data:realindex="2">
                                                            <path id="SvgjsPath1211"
                                                                d="M 12.316233815926417 23.31623381592643 A 54.00000000000001 54.00000000000001 0 0 1 12.309570073125052 23.32289872187183 L 25.676220547531287 36.684884169216694 A 35.1 35.1 0 0 0 25.680551980352174 36.680551980352185 L 12.316233815926417 23.31623381592643 z"
                                                                fill="url(#SvgjsRadialGradient1207)" fill-opacity="1"
                                                                stroke-opacity="1" stroke-linecap="butt"
                                                                stroke-width="2" stroke-dasharray="0"
                                                                class="apexcharts-pie-area apexcharts-donut-slice-2"
                                                                index="0" j="2" data:angle="0" data:startangle="315"
                                                                data:strokewidth="2" data:value="0"
                                                                data:pathorig="M 12.316233815926417 23.31623381592643 A 54.00000000000001 54.00000000000001 0 0 1 12.309570073125052 23.32289872187183 L 25.676220547531287 36.684884169216694 A 35.1 35.1 0 0 0 25.680551980352174 36.680551980352185 L 12.316233815926417 23.31623381592643 z"
                                                                stroke="#ffffff" data:pieclicked="false"
                                                                selected="false"></path>
                                                        </g>
                                                        <g id="SvgjsG1212"
                                                            class="apexcharts-series apexcharts-pie-series"
                                                            seriesname="Retest" rel="4" data:realindex="3">
                                                            <path id="SvgjsPath1217"
                                                                d="M 12.316233815926417 23.31623381592643 A 54.00000000000001 54.00000000000001 0 0 1 12.309570073125052 23.32289872187183 L 25.676220547531287 36.684884169216694 A 35.1 35.1 0 0 0 25.680551980352174 36.680551980352185 L 12.316233815926417 23.31623381592643 z"
                                                                fill="url(#SvgjsRadialGradient1213)" fill-opacity="1"
                                                                stroke-opacity="1" stroke-linecap="butt"
                                                                stroke-width="2" stroke-dasharray="0"
                                                                class="apexcharts-pie-area apexcharts-donut-slice-3"
                                                                index="0" j="3" data:angle="0" data:startangle="315"
                                                                data:strokewidth="2" data:value="0"
                                                                data:pathorig="M 12.316233815926417 23.31623381592643 A 54.00000000000001 54.00000000000001 0 0 1 12.309570073125052 23.32289872187183 L 25.676220547531287 36.684884169216694 A 35.1 35.1 0 0 0 25.680551980352174 36.680551980352185 L 12.316233815926417 23.31623381592643 z"
                                                                stroke="#ffffff" data:pieclicked="false"
                                                                selected="false"></path>
                                                        </g>
                                                        <g id="SvgjsG1218"
                                                            class="apexcharts-series apexcharts-pie-series"
                                                            seriesname="Failed" rel="5" data:realindex="4">
                                                            <path id="SvgjsPath1223"
                                                                d="M 12.316233815926417 23.31623381592643 A 54.00000000000001 54.00000000000001 0 0 1 12.309570073125052 23.32289872187183 L 25.676220547531287 36.684884169216694 A 35.1 35.1 0 0 0 25.680551980352174 36.680551980352185 L 12.316233815926417 23.31623381592643 z"
                                                                fill="url(#SvgjsRadialGradient1219)" fill-opacity="1"
                                                                stroke-opacity="1" stroke-linecap="butt"
                                                                stroke-width="2" stroke-dasharray="0"
                                                                class="apexcharts-pie-area apexcharts-donut-slice-4"
                                                                index="0" j="4" data:angle="0" data:startangle="315"
                                                                data:strokewidth="2" data:value="0"
                                                                data:pathorig="M 12.316233815926417 23.31623381592643 A 54.00000000000001 54.00000000000001 0 0 1 12.309570073125052 23.32289872187183 L 25.676220547531287 36.684884169216694 A 35.1 35.1 0 0 0 25.680551980352174 36.680551980352185 L 12.316233815926417 23.31623381592643 z"
                                                                stroke="#ffffff" data:pieclicked="false"
                                                                selected="false"></path>
                                                        </g>
                                                        <g id="SvgjsG1224"
                                                            class="apexcharts-series apexcharts-pie-series"
                                                            seriesname="NotxApplicable" rel="6" data:realindex="5">
                                                            <path id="SvgjsPath1229"
                                                                d="M 12.316233815926417 23.31623381592643 A 54.00000000000001 54.00000000000001 0 0 1 12.309570073125052 23.32289872187183 L 25.676220547531287 36.684884169216694 A 35.1 35.1 0 0 0 25.680551980352174 36.680551980352185 L 12.316233815926417 23.31623381592643 z"
                                                                fill="url(#SvgjsRadialGradient1225)" fill-opacity="1"
                                                                stroke-opacity="1" stroke-linecap="butt"
                                                                stroke-width="2" stroke-dasharray="0"
                                                                class="apexcharts-pie-area apexcharts-donut-slice-5"
                                                                index="0" j="5" data:angle="0" data:startangle="315"
                                                                data:strokewidth="2" data:value="0"
                                                                data:pathorig="M 12.316233815926417 23.31623381592643 A 54.00000000000001 54.00000000000001 0 0 1 12.309570073125052 23.32289872187183 L 25.676220547531287 36.684884169216694 A 35.1 35.1 0 0 0 25.680551980352174 36.680551980352185 L 12.316233815926417 23.31623381592643 z"
                                                                stroke="#ffffff" data:pieclicked="false"
                                                                selected="false"></path>
                                                        </g>
                                                        <g id="SvgjsG1230"
                                                            class="apexcharts-series apexcharts-pie-series"
                                                            seriesname="InxProgress" rel="7" data:realindex="6">
                                                            <path id="SvgjsPath1235"
                                                                d="M 12.316233815926417 23.31623381592643 A 54.00000000000001 54.00000000000001 0 0 1 12.309570073125052 23.32289872187183 L 25.676220547531287 36.684884169216694 A 35.1 35.1 0 0 0 25.680551980352174 36.680551980352185 L 12.316233815926417 23.31623381592643 z"
                                                                fill="url(#SvgjsRadialGradient1231)" fill-opacity="1"
                                                                stroke-opacity="1" stroke-linecap="butt"
                                                                stroke-width="2" stroke-dasharray="0"
                                                                class="apexcharts-pie-area apexcharts-donut-slice-6"
                                                                index="0" j="6" data:angle="0" data:startangle="315"
                                                                data:strokewidth="2" data:value="0"
                                                                data:pathorig="M 12.316233815926417 23.31623381592643 A 54.00000000000001 54.00000000000001 0 0 1 12.309570073125052 23.32289872187183 L 25.676220547531287 36.684884169216694 A 35.1 35.1 0 0 0 25.680551980352174 36.680551980352185 L 12.316233815926417 23.31623381592643 z"
                                                                stroke="#ffffff" data:pieclicked="false"
                                                                selected="false"></path>
                                                        </g>
                                                        <g id="SvgjsG1236"
                                                            class="apexcharts-series apexcharts-pie-series"
                                                            seriesname="Hold" rel="8" data:realindex="7">
                                                            <path id="SvgjsPath1241"
                                                                d="M 12.316233815926417 23.31623381592643 A 54.00000000000001 54.00000000000001 0 0 1 12.309570073125052 23.32289872187183 L 25.676220547531287 36.684884169216694 A 35.1 35.1 0 0 0 25.680551980352174 36.680551980352185 L 12.316233815926417 23.31623381592643 z"
                                                                fill="url(#SvgjsRadialGradient1237)" fill-opacity="1"
                                                                stroke-opacity="1" stroke-linecap="butt"
                                                                stroke-width="2" stroke-dasharray="0"
                                                                class="apexcharts-pie-area apexcharts-donut-slice-7"
                                                                index="0" j="7" data:angle="0" data:startangle="315"
                                                                data:strokewidth="2" data:value="0"
                                                                data:pathorig="M 12.316233815926417 23.31623381592643 A 54.00000000000001 54.00000000000001 0 0 1 12.309570073125052 23.32289872187183 L 25.676220547531287 36.684884169216694 A 35.1 35.1 0 0 0 25.680551980352174 36.680551980352185 L 12.316233815926417 23.31623381592643 z"
                                                                stroke="#ffffff" data:pieclicked="false"
                                                                selected="false"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                            <line id="SvgjsLine1243" x1="0" y1="0" x2="101" y2="0" stroke-dasharray="0"
                                                stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line>
                                        </g>
                                        <g id="SvgjsG1187" class="apexcharts-annotations"></g>
                                    </svg>
                                    <div class="apexcharts-legend"></div>
                                </div>
                            </div>
                            <div class="col col-9">
                                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-4">
                                    {{#each issueStatusSingleCount}}
                                    <div class="col">
                                        <div class="card border-0">
                                            <div class="card-body p-0">
                                                <h5 style="display: flex; align-items: center;">{{this.count}}
                                                    <span style="font-size: 12px; margin-left: 5px;">
                                                        <i class="fa fa-circle" style="color: {{this.color}}"></i>
                                                    </span>
                                                </h5>
                                                <p class="card-text test-status">{{this.status}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-4">
                    <div class="card custom-card">
                        <!-- Header của card -->
                        <div class="card-header bg-white border-0 d-flex align-items-center justify-content-center">
                            <div class="col text-center">
                                <div class="rounded pink mb-2"><svg data-v-7d967295="" width="20" height="20"
                                        viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.3334 1.66663L9.16669 10.8333" stroke="#F48FB1" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path
                                            d="M18.3334 1.66663L12.5 18.3333L9.16669 10.8333L1.66669 7.49996L18.3334 1.66663Z"
                                            stroke="#F48FB1" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg></div>
                                <h3 class="card-title">{{releaseCount}}</h3>
                                <h5 class="card-title">Releases</h5>
                            </div>
                        </div>
                        <div class="custom-divider"></div>
                        <!-- Nội dung (body) của card -->
                        <div class="card-body">
                            {{#if releaseList}}
                                {{#each releaseList}}
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>{{this.name}}</span>
                                    <button type="button" class="btn bg-white p-0"><i class="fas fa-eye"></i></button>
                                </div>
                                {{/each}}
                            {{/if}}
                            {{#unless releaseList}}
                                <div>
                                    <i class="fa fa-bug" style="font-size: 1rem; color: #B39DDB;"></i>
                                    No Releases Available
                                </div>
                            {{/unless}}
                        </div>

                        <div class="card-footer bg-white border-0 d-flex justify-content-end">
                            <a href="./release" class="btn border-0" style="color: #232360">View All</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card custom-card">
                        <!-- Header của card -->
                        <div class="card-header bg-white border-0 d-flex align-items-center justify-content-center">
                            <div class="col text-center">
                                <div class="rounded orange mb-2"><svg data-v-7d967295="" width="20" height="20"
                                        viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9.99996 18.3333C14.6023 18.3333 18.3333 14.6023 18.3333 9.99996C18.3333 5.39759 14.6023 1.66663 9.99996 1.66663C5.39759 1.66663 1.66663 5.39759 1.66663 9.99996C1.66663 14.6023 5.39759 18.3333 9.99996 18.3333Z"
                                            stroke="#FFCC80" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path d="M8.33337 6.66663L13.3334 9.99996L8.33337 13.3333V6.66663Z"
                                            stroke="#FFCC80" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg></div>
                                <h3 class="card-title">{{testrunCount}}</h3>
                                <h5 class="card-title">Test Run</h5>
                            </div>
                        </div>
                        <div class="custom-divider"></div>
                        <!-- Nội dung (body) của card -->
                        <div class="card-body">
                            {{#if testrunList}}
                                {{#each testrunList}}
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>{{this.testrun_title}}</span>
                                    <button type="button" class="btn bg-white p-0"><i class="fas fa-eye"></i></button>
                                </div>
                                {{/each}}
                            {{/if}}
                            {{#unless testrunList}}
                                <div>
                                    <i class="fa fa-bug" style="font-size: 1rem; color: #B39DDB;"></i>
                                    No Testrun Available
                                </div>
                            {{/unless}}
                        </div>

                        <div class="card-footer bg-white border-0 d-flex justify-content-end">
                            <a href="./testrun" class="btn border-0" style="color: #232360">View All</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card custom-card">
                        <!-- Header của card -->
                        <div class="card-header bg-white border-0 d-flex align-items-center justify-content-center">
                            <div class="col text-center">
                                <div class="rounded viloet mb-2"><svg data-v-7d967295="" width="20" height="20"
                                        viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M2.08337 10.8333H5.41671M8.33337 2.5H11.6667L13.3334 4.16667V6.66667L14.5834 7.5V14.1667L10 17.5L5.41671 14.1667V7.5L6.66671 6.66667V4.16667L8.33337 2.5Z"
                                            stroke="#B39DDB" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path d="M2.08337 5.83337L3.75004 7.50004H5.41671" stroke="#B39DDB"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M17.9167 5.83337L16.25 7.50004H14.5834" stroke="#B39DDB"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M2.08337 15.8333L3.75004 14.1666H5.41671" stroke="#B39DDB"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M14.5834 14.1666H16.25L17.9167 15.8333" stroke="#B39DDB"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M14.5834 10.8334H17.9167" stroke="#B39DDB" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg></div>
                                <h3 class="card-title">{{testcaseCount}}</h3>
                                <h5 class="card-title">Test case</h5>
                            </div>
                        </div>
                        <div class="custom-divider"></div>
                        <!-- Nội dung (body) của card -->
                        <div class="card-body">
                            {{#if testcasesList}}
                                {{#each testcasesList}}
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>{{this.name}}</span>
                                    <button type="button" class="btn bg-white p-0"><i class="fas fa-eye"></i></button>
                                </div>
                                {{/each}}
                            {{/if}}
                            {{#unless testcasesList}}
                            <div class="d-flex align-items-center justify-content-center">
                                <i class="fa fa-bug" style="font-size: 1rem; color: #B39DDB;"></i>
                                No Testcase Available
                            </div>
                            {{/unless}}
                        </div>

                        <div class="card-footer bg-white border-0 d-flex justify-content-end">
                            <a href="./testcase" class="btn border-0" style="color: #232360">View All</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mt-4">
            <div class="card custom-card">
                <!-- Header của card -->
                <div class="card-header bg-white border-0 align-items-center">
                    <div class="row">
                        <div class="col">
                            <h3 class="card-title">Activity</h3>
                        </div>
                    </div>
                </div>
                <div class="custom-divider"></div>
                <!-- Nội dung (body) của card -->
                <div class="card-body d-flex align-items-center justify-content-center mt-5">
                    <div>
                        <svg data-v-3d4b4c3e="" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M14 2H6C5.46957 2 4.96086 2.21071 4.58579 2.58579C4.21071 2.96086 4 3.46957 4 4V20C4 20.5304 4.21071 21.0391 4.58579 21.4142C4.96086 21.7893 5.46957 22 6 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V8L14 2Z"
                                stroke="#9fa9b2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path d="M14 2V8H20" stroke="#9fa9b2" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M16 13H8" stroke="#9fa9b2" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M16 17H8" stroke="#9fa9b2" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M10 9H9H8" stroke="#9fa9b2" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                        No records Found
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Create Module Modal --}}

{{#block "modal"}}
<div class="modal fade" id="modalAddUser" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content align-items-center"
            style="color: #232360; font-weight: 900; padding: 0 6%; background-color: #F3F4F8;">
            <div class="modal-header" style="border-bottom: none;">
                <p class="modal-title fs-3" id="modalTitleId">Add New User</p>
            </div>
            <div class="modal-body" style="border-bottom: none; width: 100%;">
                <div class="row mb-3">
                    <div>
                        <lable for="description">Email <span style="color: red">*</span>:</lable>
                        <input type="text" name="user-name" class="form-control" placeholder="Enter Email">
                        <div id="alertMessage" style="display: none; color: red"></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div>
                        <lable for="description">Role:</lable>
                        <select name="user-role" class="form-select">
                            <option value="dev">Developer</option>
                            <option value="test">Tester</option>
                            <option value="manager">Manager</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Note paragraph -->
            <p>Note: <span style="color: black; font-weight: normal;">When you create a user as an Administrator, all
                    the projects will be assigned automatically to the user.
                    When you create a user as a tester/developer in the system, you have to assign them to the project
                    to give access.</span></p>

            <div class="modal-footer" style="border-top: none; align-items: center;">
                <button type="button" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{{/block}}

{{!-- Page's Functionality Button --}}

{{#block "additional-button"}}
<div class="text-right">
    <button type="button" class="btn btn-light-blue me-2 my-2" data-bs-toggle="modal" data-bs-target="#modalViewUser">
        <i class="fas fa-user-check"></i>  
        View User
    </button>
    <button type="button" class="btn btn-light-green me-2" data-bs-toggle="modal" data-bs-target="#modalAddUser">
        <i class="fas fa-user-plus"></i>  
        Add User
    </button>
</div>
{{/block}}

{{!-- Additional Scripts + CSS --}}

{{#block "script"}}
<script src="/js/addUserModal.js"></script>
{{/block}}