<!-- add fav lib -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container-fluid">
    <div class="card custom-card mb-5" id="visualize-card">
    <!-- Header của card -->
    <div class="card-header bg-white border-0 align-items-center">
        <div class="row align-items-center">
            <div class="col-sm-4">
                <h3 class="card-title">Summary</h3>
            </div>
            <div class="col-sm-8 d-flex justify-content-end">
                <div class="reports-filter">
                    <ul class="list-unstyled d-flex flex-row align-items-center justify-content-center" style="height: 50%;">
                        <li>
                            <select class="form-select form-select-sm ml-2" aria-label=".dropdown-for-months-duration">
                                <option value="Release Report">Release Report</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>                                
        </div>
    </div>
    <div class="custom-divider"></div>
    <!-- Nội dung (body) của card -->
    <div class="mt-3 p-3 scrollable-card-body">
        <div class="table-responsive">
            <table class="table table-hover table-bordered text-center">
                <thead>
                    <tr class="table-info">
                        <th scope="col">#</th> 
                        <th scope="col">Release Name</th> 
                        <th scope="col">Test Run Title</th> 
                        <th scope="col">Test Run Status </th>
                        <th scope="col">Test Case Name</th>
                        <th scope="col">Test Case Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each releaseReportRecords}}
                    <tr>
                        <th scope="row">-</th>
                        <td>{{release_name}}</td>
                        <td>{{testrun_title}}</td>
                        <td>{{testrun_status}}</td>
                        <td>{{testcase_title}}</td>
                        <td>{{testcase_status_name}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>

{{!-- Additional button in view --}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.6/xlsx.full.min.js"></script>

<script>
document.getElementById('exportButton').addEventListener('click', function () {
    // Get the table element
    const table = document.querySelector('.table');

    // Convert table to worksheet
    const ws = XLSX.utils.table_to_sheet(table);

    // Create a new workbook and add the worksheet
    const wb = XLSX.utils.book_new();
    XLSX.utils.book_append_sheet(wb, ws, 'Report');

    // Write the workbook to a file
    XLSX.writeFile(wb, 'Report.xlsx');
});
</script>


{{#block "additional-button"}}
<div class="text-right">
    <button type="button" class="btn btn-light-blue me-2 mb-2">
        <!-- add svg icon -->
        <i class="fas fa-share-alt"></i>&nbsp;&nbsp;
        Share Report
    </button> 
    <button type="button" class="btn btn-light-green me-2 mb-2" id="exportButton">
        <i class="fas fa-upload"></i>&nbsp;&nbsp;
        Export
    </button>                          
</div>
{{/block}}

