<div class="content row m-2 flex-grow-1" style="height: 722px; padding: 0 5%;">
    <div class="col-3"
        style="height: 100%; background-color: #FFFFFF; border-top-right-radius: 20px; border-top-left-radius: 20px; overflow-y:scroll;">
        <div class="d-flex justify-content-between align-items-center p-3"
            style="border-bottom: solid rgba(150,150,150,0.2) 1px; height: 10%;  min-height: 65px;">
            <p style="color:#232360; font-size: 1.2rem; padding: 0; margin: 0; font-weight: bold;">
                Modules</p>
        </div>

        <script>
            const modules = {{{ json modules }}};
            console.log(modules);
            const lv1_modules = modules.filter(module => module.level === 1);
            const lv2_modules = modules.filter(module => module.level === 2);
            const lv3_modules = modules.filter(module => module.level === 3);
        </script>

        <div class="d-flex flex-column gap-3 modules-list px-1 py-3"
            style="color: #232360; font-weight: 700; font-size: 1.1rem;">

        </div>
    </div>
    <div class="col-1 offset-col"></div>
    <div class="col-8"
        style="height: 100%; background-color: #FFFFFF; border-top-right-radius: 20px; border-top-left-radius: 20px;">
        <div class="d-flex justify-content-between align-items-center p-3"
            style="border-bottom: solid rgba(150,150,150,0.2) 1px; height: 10%; min-height: 65px">
            <p style="color:#232360; font-size: 1.2rem; padding: 0; margin: 0; font-weight: bold;">
                Testcases</p>
            <input type="text" class="form-control" id="search-input-title" placeholder="Search by Title"
                style="color: #C4C4DA; font-weight: 600; width: 24%; background-color: #F1F1F1; border-radius: 5px; border:none; padding: 10px" />
        </div>
        <div class="d-flex align-items-center justify-content-between px-xl-5 py-xl-4" style="height: 10%;">
            <div class="top-right-testcase-list d-flex justify-content-between align-items-center gap-4">
                <i class="bi bi-funnel-fill filter-icon hover-icon" style="padding-top: 1px;"></i>
                <label for="show" class="form-label" style="margin-bottom: 0px;">Filter: </label>
                <select name="show" class="form-select feature" aria-label="Default select example">
                    <option value="1" selected>Testcase Code</option>
                    <option value="2">Testcase Title</option>
                </select>
            </div>
            <div class="top-right-testcase-list d-flex justify-content-between align-items-center gap-3">
                <label for="sort" class="form-label" style="margin-bottom: 0px;">Sort by:</label>
                <select name="sort" style="width: max-content;" class="form-select sorting"
                    aria-label="Default select example" required>
                    <option value="1" selected>ASC</option>
                    <option value="2">DES</option>
                </select>
            </div>
        </div>
        <div class="test-caselist">
            <div class="table-responsive" style="overflow-y: auto; padding: 0 3rem;">
                <table class="table">
                    <thead class="fs-xl-5">
                        <th class="col-xl-1 col-md-1" style="opacity: 0;"><input type="checkbox"></input></th>
                        <th class="col-xl-3 col-md-3 testcase-code">Testcase Code</th>
                        <th class="col-xl-5 col-md-4 testcase-name">Testcase Title</th>
                        <th class="col-xl-2 col-md-3">Action</th>
                    </thead>
                    <tbody class="fs-xl-5">
                        {{#each testcases}}
                        <tr>
                            <td><input type="checkbox"></input></td>
                            <td class="testcase-code">{{this.testcase_id}}</td>
                            <td class="testcase-name">{{this.name}}</td>
                            <td>
                                <i class="bi bi-eye hover-icon" style="margin-right: 20px;" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-title="Detail"></i>
                                <i class="bi bi-pencil hover-icon text-success" style="margin-right: 20px;"
                                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit test case"></i>
                                <i class="bi bi-trash hover-icon text-danger" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-title="Delete test case"></i>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <nav style="margin: 0 auto;">
                    {{{paginate pagination
                    paginationClass="pagination justify-content-center p-1"
                    leftText = '<i class="bi bi-arrow-left"></i>'
                    rightText = '<i class="bi bi-arrow-right"></i>'
                    }}}
                </nav>
            </div>
        </div>
    </div>
</div>


{{#block "modal"}}
{{> create-test-case-modal}}
{{> delete-test-case-modal}}
{{> edit-test-case-modal}}
{{> view-test-case-modal}}
{{/block}}


{{!-- Page's Functionality Button --}}

{{#block "additional-button"}}
<div class="group-btn" style="height: 60%;">
    <button class="btn btn-primary import-btn"
        style="background-color: #53C4F4; padding: 10px; font-weight: 600; font-size: 1.2rem; border: none; border-radius: 10px; color: #23235F;">
        <i class="bi bi-box-arrow-down"></i>
        <span class="btn-text">Import</span>
    </button>
    <button class="btn btn-danger export-btn"
        style="background-color: #53C4F4; padding: 10px; font-weight: 600; font-size: 1.2rem; border: none; border-radius: 10px; color: #23235F;">
        <i class="bi bi-box-arrow-up"></i>
        <span class="btn-text">Export</span>
    </button>
    <button class="btn add-testcase-btn"
        style="background-color: #50DF89; padding: 10px; font-weight: 600; font-size: 1.2rem; border: none; border-radius: 10px; color: #23235F;">
        <i class="bi bi-plus-circle"></i>
        <span class="btn-text">Add Testcase</span>
    </button>
</div>
{{/block}}


{{!-- Additional Scripts --}}

{{#block "script"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
<script>
    let user_id = -1;

    function getUserId() {
        $.ajax({
            type: "GET",
            url: window.location.pathname.split("/")[0] + '/auth/info',
            success: function (response) {
                console.log(response);
                user_id = response.user_id;
                return true;
            },
            error: function (err) {
                showRightBelowToast("Error fetching user data");
                return false;
            }
        });
    }
</script>
<script src="/js/addTestcaseModal.js"></script>
<script src="/js/testcaseActionBtn.js"></script>
<script>
    const modulesList = $(".modules-list");

    lv1_modules.forEach(module => {
        const lv1_module_div = $(`<div class="module-choice hover-icon ellispe" data-module-id="${module.module_id}">
            <i class="bi bi-folder"></i>
            ${module.name}
        </div>`);
        modulesList.append(lv1_module_div);
        const lv2_module = lv2_modules.filter(lv2_module => lv2_module.root_module_id === module.module_id);
        lv2_module.forEach(lv2_module => {
            const lv2_module_div = $(`<div style="margin-left: 20px;" class="module-choice hover-icon ellispe" data-module-id="${lv2_module.module_id}">
                <i class="bi bi-folder"></i>
                ${lv2_module.name}
            </div>`);
            modulesList.append(lv2_module_div);
            const lv3_module = lv3_modules.filter(lv3_module => lv3_module.root_module_id === lv2_module.module_id);
            lv3_module.forEach(lv3_module => {
                const lv3_module_div = $(`<div style="margin-left: 40px;" class="module-choice hover-icon ellispe" data-module-id="${lv3_module.module_id}">
                    <i class="bi bi-folder"></i>
                    ${lv3_module.name}
                </div>`);
                modulesList.append(lv3_module_div);
            });
        });
    });

    $(".module-choice").click(function () {
        const module_id = $(this).data("module-id");
        console.log(module_id);
        currentUrl = new URL(window.location);
        currentUrl.searchParams.set("moduleId", module_id);
        window.location.href = currentUrl.href;
    });

</script>

<script>
    const permission = {{{ json permissions }}};
    console.log(permission);

    function canView() {
        return permission.canView;
    }

    function canAdd() {
        return permission.canAdd;
    }

    function canEdit() {
        return permission.canEdit;
    }

    function canDelete() {
        return permission.canDelete;
    }

    function canImport() {
        return permission.canImport;
    }

    function canExport() {
        return permission.canExport;
    }


</script>

<script>
    if (!canAdd()) {
        $('.add-testcase-btn').hide();
    }
</script>

{{/block}}