<div class="main-area">
    <div class="container py-3 my-3"
        style="background-color: white; border-radius: 5px; height: 70vh; min-height: 647px; margin-top: 1%;">
        <div class="d-flex justify-content-between align-items-center" style="padding: 0 12px;">
            <p class="" style="font-weight: 600; font-size: 1.2rem; color: #232360; margin-bottom: 0;">Test
                run</p>
            <div class="dropdown-open" style="background-color: #F1F1F1; border-radius: 5px;">
                <button class="btn" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" style="background-color: #F1F1F1; border: none; color: #969696;">
                    <span style="padding-right: 30px;">Search by release</span>
                    <i class="bi bi-caret-down-fill" style="opacity: 100%;"></i>
                </button>
                <div class="dropdown-menu release-dropdown-menu" aria-labelledby="triggerId">
                    {{#each releases}}
                    <button class="dropdown-item release-item" data-name="{{release_id}}" href="#">{{name}}</button>
                    {{/each}}
                    {{!-- <button class="dropdown-item" href="#">Release 1</button>
                    <button class="dropdown-item" href="#">Release 2</button>
                    <button class="dropdown-item" href="#">Release 3</button> --}}
                </div>
            </div>
        </div>
        <div class="table-responsive px-5 mt-4">
            <table class="table">
                <thead class="fs-6">
                    <th class="created-by col-xl-1" scope="col">Created by</th>
                    <th class="testrun-title col-xl-5" scope="col">Title</th>
                    <th class="assigned-to col-xl-1" scope="col">Assigned to</th>
                    <th class="testcase-quantity col-xl-1" scope="col">Testcase</th>
                    <th class="status col-xl-1" scope="col">Status</th>
                    <th class="action col-xl-3" scope="col">Action</th>
                </thead>
                <tbody class="fs-6">
                    {{#each testRuns}}
                    <tr data-this='{{json this}}'>
                        <td class="created-by">
                            <div style="text-align: center;">
                                <i class="bi bi-person-circle fs-4" style="display: block;"></i>
                                <span>{{this.created_by_name}}</span>
                            </div>
                        </td>
                        <td class="testrun-title" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Click to View Test Run Detail">{{this.testrun_title}}</td>
                        <td class="assigned-to">
                            <div style="text-align: center;">
                                <i class="bi bi-person-circle fs-4" style="display: block;"></i>
                                <span>{{this.assigned_to_name}}</span>
                            </div>
                        </td>
                        <td class="testcase-quantity"> {{this.testcase_quantity}} </td>
                        <td class="status {{{formatClassName this.testrun_status}}}"> {{this.testrun_status}} </td>
                        <td class="action">
                            <i class="bi bi-eye hover-icon" style="margin-right: 20px;" data-bs-toggle="tooltip"
                                data-bs-placement="top" data-bs-title="Detail"></i>
                            <i class="bi bi-pencil hover-icon text-success" style="margin-right: 20px;"
                                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit testrun"></i>
                            <i class="bi bi-trash hover-icon text-danger" data-bs-toggle="tooltip"
                                data-bs-placement="top" data-bs-title="Delete testrun"></i>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <nav style="margin: 0 auto;">
            {{{paginate pagination
            paginationClass="pagination justify-content-center p-1"
            leftText = '<i class="bi bi-arrow-left"></i>'
            rightText = '<i class="bi bi-arrow-right"></i>'
            }}}
        </nav>
    </div>
</div>

{{!-- Create Test Run Modal --}}

{{#block "modal"}}
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content align-items-center"
            style="color: #232360; font-weight: 900; padding: 0 6%; background-color: #F3F4F8;">
            <div class="modal-header" style="border-bottom: none;">
                <p class="modal-title fs-3" id="modalTitleId">
                    Add New TestRun
                </p>
            </div>
            <div class="modal-body" style="border-bottom: none; width: 100%;">
                <div class="row mb-3">
                    <div class="col-12">
                        <label for="test-run-name">
                            Name <span style="color: #F0270C;">*</span> :
                        </label>
                        <input id="test-run-name" type="text" name="test-run-name" class="form-control"
                            placeholder="Test Run's Title">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="release">
                            Release :
                        </label>
                        <select name="release" id="release" required>
                            {{#each releases}}
                            <option value="{{this.release_id}}">{{this.name}}</option>
                            {{/each}}
                            {{!-- <option selected value="release1">Release 1</option>
                            <option value="release2">Release 2</option>
                            <option value="release3">Release 3</option> --}}
                        </select>
                    </div>
                    <div class="col-5 offset-1">
                        <label for="assigned-to">
                            Assigned to :
                        </label>
                        <select name="assigned-to" id="assigned-to" required>
                            {{#each users}}
                            <option value="{{this.user_id}}">{{this.name}}</option>
                            {{/each}}
                            {{!-- <option selected value="nghia">Nghia Ngo</option>
                            <option value="bao">Bao Ninh</option>
                            <option value="nghi">Nghi Do</option> --}}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label for="description">
                            Description :
                        </label>
                        <textarea id="description" name="description" class="form-control" placeholder="Description"
                            rows="4"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none;">
                <button type="button" class="btn btn-secondary next-button"
                    style="background-color: #41D37E; color: #23235F; border: none; border-radius: 10px; padding: 10px 40px; font-weight: 600;"
                    onclick="onNextStepClick()">
                    Next Step
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
        <div class="modal-content align-items-center"
            style="color: #232360; font-weight: 900; padding: 0 6%; background-color: #F3F4F8; height: 90vh;">
            <div class="modal-header" style="border-bottom: none; width: 100%;">
                <p class="modal-title fs-3" id="modalTitleId" style="margin-left: auto; margin-right: auto;">
                    Add New TestCase
                </p>
            </div>
            <div class="modal-body d-flex flex-column" style="border-bottom: none; width: 100%;">
                <div class="row mb-3">
                    <p style="color: #9C9C9C; font-weight: 600;">Add testcases</p>
                </div>
                <div class="row mb-3 flex-grow-1">
                    <div class="col-11"
                        style="background-color: #FFFFFF; border-radius: 5%; position: relative;">
                        <div class="table-responsive" style="overflow-y: auto;">
                            <table class="table">
                                <thead>
                                    <th class="col-1" style="opacity: 0;"><input type="checkbox"></th>
                                    <th class="col-2">Testcase Code</th>
                                    <th class="col-9" style="background-color: transparent;">Testcase Title</th>
                                </thead>
                                <tbody>
                                    {{#each testcases}}
                                    <tr>
                                        <td><input type="checkbox" class="testcase-checkbox"></td>
                                        <td class="testcase-code">{{this.testcase_id}}</td>
                                        <td class="testcase-name">{{this.name}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <div class="all-testcase-choose"
                            style="position: absolute; top: 0; right: 0; transform: translateY(-100%);">
                            <input type="checkbox" class="all-testcase-checkbox">
                            <label for="all-testcase">Select all testcase</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer gap-4" style="border-top: none;">
                <button type="button" class="btn btn-secondary back-button"
                    style="background-color: #D34164; color: #FBE416; border: none; border-radius: 10px; padding: 10px 40px; font-weight: 600;"
                    data-back="#modal1">
                    Go back
                </button>
                <button type="button" class="btn btn-secondary next-button"
                    style="background-color: #41D37E; color: #23235F; border: none; border-radius: 10px; padding: 10px 40px; font-weight: 600;"
                    onclick="onSaveButtonClick()">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

{{> view-test-run-modal}}
{{> edit-test-run-modal}}
{{> delete-test-run-modal}}
{{/block}}

{{!-- Page's Functionality Button --}}

{{#block "additional-button"}}
<button
    style="background-color: #50DF89; padding: 10px; font-weight: 600; font-size: 1.2rem; border: none; border-radius: 10px;  color: #23235F;"
    data-bs-toggle="modal" data-bs-target="#modal1" class="add-test-run-btn">
    <i class="bi bi-plus-circle"></i>
    <span class="btn-text"> Add <span class="btn-text-secondary"> Test run </span> </span>
</button>
{{/block}}


{{#block "script"}}
<script>
    let user_id = -1;

    async function getUserId() {
        $.ajax({
            type: "GET",
            url: window.location.pathname.split("/")[0] + '/auth/info',
            success: function (response) {
                console.log(response);
                user_id = response.user_id;
                return true;
            },
            error: function (err) {
                showRightBelowToast("Error fetching user data");
                return false;
            }
        });
    }
</script>
<script src="/js/addTestrunModal.js"></script>
<script src="/js/testrunActionBtn.js"></script>
<script>
    $(document).ready(function () {
        $('td.testrun-title').click(function () {

            if (!canViewDetail()) {
                showRightBelowToast('You do not have permission to view this Test Run');
                return;
            }

            const testRun = JSON.parse($(this).closest('tr')[0].dataset.this);
            console.log(testRun);
            let curUrl = window.location.pathname;
            window.location.href = curUrl + '/' + testRun.testrun_id;
        });
    });
</script>

<script>
    const permission = {{{json permissions}}};

    console.log(permission);

    function canAdd() {
        return permission.canAdd;
    }

    function canEdit() {
        return permission.canEdit;
    }

    function canDelete() {
        return permission.canDelete;
    }

    function canView() {
        return permission.canView;
    }

    function canViewDetail() {
        return permission.canViewDetail;
    }

    if (!canAdd()) {
        $('.add-test-run-button').hide();
    }


</script>
{{/block}}