<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content align-items-center"
            style="color: #232360; font-weight: 900; padding: 0 6%; background-color: #F3F4F8;">
            <div class="modal-header" style="border-bottom: none;">
                <p class="modal-title fs-3" id="modalTitleId">
                    Add New TestCase
                </p>
            </div>
            <div class="modal-body" style="border-bottom: none; width: 100%;">
                <div class="row mb-3">
                    <div>
                        <label for="testcase-name">Testcase's Name <span style="color: #F0270C" ;>*</span>:</label>
                        <input name="testcase-name" type="text" class="form-control" id="testcase-name" />
                    </div>
                </div>
                <div class="row mb-3 align-items-center">
                    <div class="col-3">
                        <label for="module">Select Module:</label>
                    </div>
                    <div class="col-7 offset-2">
                        <select id="module-select" name="module" class="form-control"
                            aria-label="Default select example">
                            {{#each modules}}
                            <option value="{{module_id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div>
                        <lable for="testcase-description">
                            Description:
                        </lable>
                        <textarea id="testcase-description" name="testcase-description" class="form-control"
                            placeholder="Description" rows="4"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none;">
                <button type="button" class="btn btn-secondary next-button"
                    style="background-color: #41D37E; color: #23235F; border: none; border-radius: 10px; padding: 10px 40px; font-weight: 600;"
                    data-next="#modal2" onclick="onModal1NextClick()">
                    Next Step
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content align-items-center"
            style="color: #232360; font-weight: 900; padding: 0 6%; background-color: #F3F4F8; height: 50vh;">
            <div class="modal-header" style="border-bottom: none; width: 100%;">
                <p class="modal-title fs-3" id="modalTitleId" style="margin-left: auto; margin-right: auto;">
                    Add New TestCase
                </p>
                <button type="button" class="btn self-align-end add-step"
                    style="border: none; background-color: #53C4F4; color: #23235F; font-size: 1.2rem; font-weight: 700;">Add
                    Step</button>
            </div>
            <div class="modal-body" style="border-bottom: none; width: 100%; overflow-y: auto;">
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="description">Description <span style="color: #F0270C;">*</span>:</label>
                        <textarea id="description" name="description"
                            class="form-control first-testcaseStep-description" placeholder="Description"
                            rows="4"></textarea>
                    </div>
                    <div class="col-6">
                        <label for="expected-result">Expected Result <span style="color: #F0270C;">*</span>:</label>
                        <textarea id="expected-result" name="expected-result"
                            class="form-control first-testcaseStep-expected-result" placeholder="Expected Result"
                            rows="4"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer gap-4" style="border-top: none;">
                <button type="button" class="btn btn-secondary back-button"
                    style="background-color: #D34164; color: #FBE416; border: none; border-radius: 10px; padding: 10px 40px; font-weight: 600;"
                    data-back="#modal1">
                    Go back
                </button>
                <button type="button" class="btn btn-secondary next-button"
                    style="background-color: #41D37E; color: #23235F; border: none; border-radius: 10px; padding: 10px 40px; font-weight: 600;"
                    data-next="#modal3" onclick="onModal2NextClick()">
                    Next Step
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
        <div class="modal-content align-items-center"
            style="color: #232360; font-weight: 900; padding: 0 6%; background-color: #F3F4F8; height: 60vh;">
            <div class="modal-header" style="border-bottom: none; width: 100%;">
                <p class="modal-title fs-3" id="modalTitleId" style="margin-left: auto; margin-right: auto;">
                    Add New TestCase
                </p>
            </div>
            <div class="modal-body d-flex flex-column" style="border-bottom: none; width: 100%; overflow-y: auto;">
                <div class="row mb-3">
                    <p style="color: #9C9C9C; font-weight: 600;">Linking to other testcases</p>
                </div>
                <div class="row mb-3 flex-grow-1">
                    <div class="col-4" style="background-color: #FFFFFF; border-radius: 5%; overflow-y: auto;">
                        <div class="d-flex justify-content-between align-items-center p-3"
                            style="border-bottom: solid rgba(150,150,150,0.2) 1px; height: fit-content">
                            <p style="color:#232360; font-size: 1.1rem; padding: 0; margin: 0; font-weight: bold;">
                                Modules</p>
                        </div>
                        <div class="d-flex flex-column gap-1 modules-list px-3 py-1"
                            style="color: #232360; font-weight: 700; font-size: 1rem;">
                            {{#each modules}}
                            <div>
                                <i class="bi bi-folder"></i>
                                {{name}}
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="col-7 offset-1" style="background-color: #FFFFFF; border-radius: 5%;">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <th class="col-1" style="opacity: 0;"><input type="checkbox"></th>
                                    <th class="col-4">Testcase Code</th>
                                    <th class="col-7">Testcase Title</th>
                                </thead>
                                <tbody>
                                    {{#each allTestcases}}
                                    <tr>
                                        <td><input type="checkbox" class="testcase-checkbox"></td>
                                        <td class="testcase-code">{{this.testcase_id}}</td>
                                        <td class="testcase-name">{{this.name}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer gap-4" style="border-top: none;">
                <button type="button" class="btn btn-secondary back-button"
                    style="background-color: #D34164; color: #FBE416; border: none; border-radius: 10px; padding: 10px 40px; font-weight: 600;"
                    data-back="#modal2">
                    Go back
                </button>
                <button type="button" class="btn btn-secondary next-button"
                    style="background-color: #41D37E; color: #23235F; border: none; border-radius: 10px; padding: 10px 40px; font-weight: 600;"
                    data-next="#modal4" onclick="onModal3NextClick()">
                    Next Step
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
        <div class="modal-content align-items-center"
            style="color: #232360; font-weight: 900; padding: 0 6%; background-color: #F3F4F8; height: 60vh;">
            <div class="modal-header" style="border-bottom: none; width: 100%;">
                <p class="modal-title fs-3" id="modalTitleId" style="margin-left: auto; margin-right: auto;">
                    Add New TestCase
                </p>
            </div>
            <div class="modal-body d-flex flex-column" style="border-bottom: none; width: 100%; overflow-y: auto;">
                <div class="row mb-3">
                    <p style="color: #9C9C9C; font-weight: 600;">Linking to Project's Requirements</p>
                </div>
                <div class="row mb-3 flex-grow-1">
                    <div class="col-4" style="background-color: #FFFFFF; border-radius: 5%; overflow-y: auto;">
                        <div class="d-flex justify-content-between align-items-center p-3"
                            style="border-bottom: solid rgba(150,150,150,0.2) 1px; height: fit-content">
                            <p style="color:#232360; font-size: 1.1rem; padding: 0; margin: 0; font-weight: bold;">
                                Requirement</p>
                        </div>
                        <div class="d-flex flex-column gap-1 modules-list px-3 py-1"
                            style="color: #232360; font-weight: 700; font-size: 1rem;">
                            {{#each requirements_type}}
                            <div>
                                <i class="bi bi-folder"></i>
                                {{this.name}}
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="col-7 offset-1" style="background-color: #FFFFFF; border-radius: 5%;">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <th class="col-1" style="opacity: 0;"><input type="checkbox"></th>
                                    <th class="col-4">Requirement Code</th>
                                    <th class="col-7">Requirement Title</th>
                                </thead>
                                <tbody>
                                    {{#each requirements}}
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td class="requirement-code">{{this.requirement_code}}</td>
                                        <td class="requirement-name">{{this.requirement_name}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer gap-4" style="border-top: none;">
                <button type="button" class="btn btn-secondary back-button"
                    style="background-color: #D34164; color: #FBE416; border: none; border-radius: 10px; padding: 10px 40px; font-weight: 600;"
                    data-back="#modal3">
                    Go back
                </button>
                <button type="button" class="btn save-button"
                    style="background-color: #41D37E; color: #23235F; border: none; border-radius: 10px; padding: 10px 40px; font-weight: 600;"
                    data-bs-dismiss="modal" onclick="onModal4SaveClick()">Save</button>
            </div>
        </div>
    </div>
</div>