<div class="modal fade" id="edit-test-case" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
    aria-hidden="true" data-testcase-id="">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
        <div class="modal-content align-items-center"
            style="color: #232360; font-weight: 900; padding: 0 6%; background-color: #F3F4F8;">
            <div class="modal-header" style="border-bottom: none;">
                <p class="modal-title fs-3" id="modalTitleId">
                    Test case Information
                </p>
            </div>
            <div class="modal-body" style="border-bottom: none; width: 100%;">
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-edit-tab" role="tablist"
                        aria-orientation="vertical">
                        <button class="nav-link active" id="v-pills-edit-index-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-edit-index" type="button" role="tab"
                            aria-controls="v-pills-edit-index" aria-selected="true">Overview</button>
                        <button class="nav-link" id="v-pills-edit-step-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-edit-step" type="button" role="tab"
                            aria-controls="v-pills-edit-step" aria-selected="false">Steps</button>
                        <button class="nav-link" id="v-pills-edit-testcase-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-edit-testcase" type="button" role="tab"
                            aria-controls="v-pills-edit-testcase" aria-selected="false">Testcase linking</button>
                        <button class="nav-link" id="v-pills-edit-requirement-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-edit-requirement" type="button" role="tab"
                            aria-controls="v-pills-edit-requirement" aria-selected="false">Requirement linking</button>
                    </div>
                    <div style="width: 20px;"></div>
                    <div class="tab-content flex-grow-1" id="v-pills-edit-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-edit-index" role="tabpanel"
                            aria-labelledby="v-pills-edit-index-tab" tabindex="0">
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="test-case-name">
                                        Testcase Name:
                                    </label>
                                </div>
                                <div class="col-6 offset-2">
                                    <input id="test-case-name" type="text" name="test-case-name" class="form-control"
                                        placeholder="Testcase name">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="test-case-module">
                                        Module:
                                    </label>
                                </div>
                                <div class="col-6 offset-2">
                                    <select name="test-case-module" id="test-case-module" class="form-select">

                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div>
                                    <label for="test-case-description">
                                        Testcase Description:
                                    </label>
                                    <textarea id="test-case-description" name="test-case-description"
                                        class="form-control" placeholder="Testcase description" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <button type="button" class="btn btn-primary test-case-overview-apply">
                                    Apply
                                </button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-edit-step" role="tabpanel"
                            aria-labelledby="v-pills-edit-step-tab" tabindex="0">
                            <div class="mb-3" style="width: 100%; background-color: #FFFFFF; border-radius: 10px;">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <th class="col-5 offset-1">Step Description</th>
                                            <th class="col-5">Expected Result</th>
                                        </thead>
                                        <tbody class="test-case-step-body-table">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row align-items-center justify-content-start d-flex px-2">
                                <button type="button" class="btn btn-primary test-case-step-apply col-2">
                                    Apply
                                </button>
                                <button type="button" class="btn btn-primary test-case-step-add-step col-2 offset-1">
                                    Add Step
                                </button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-edit-testcase" role="tabpanel"
                            aria-labelledby="v-pills-edit-testcase-tab" tabindex="0">
                            <div class="mb-3" style="width: 100%; background-color: #FFFFFF; border-radius: 10px;">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <th class="col-4">Testcase Code</th>
                                            <th class="col-4 offset-2">Testcase Title</th>
                                            <th class="col-2">Delete</th>
                                        </thead>
                                        <tbody class="test-case-linking-testcases-body-table">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary test-case-linking-add-testcase"
                                style="margin: 0 auto;">
                                Add Testcase Link
                            </button>
                            <button type="button" class="btn btn-primary test-case-linking-apply"
                                style="margin: 0 auto;">
                                Apply
                            </button>
                        </div>
                        <div class="tab-pane fade" id="v-pills-edit-requirement" role="tabpanel"
                            aria-labelledby="v-pills-edit-requirement-tab" tabindex="0">
                            <div class="mb-3" style="width: 100%; background-color: #FFFFFF; border-radius: 10px;">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <th class="col-4">Requirement Code</th>
                                            <th class="col-4 offset-2">Requirement Title</th>
                                            <th class="col-2">Delete</th>
                                        </thead>
                                        <tbody class="test-case-linking-requirements-body-table">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary test-case-linking-add-requirement"
                                style="margin: 0 auto;">
                                Add Requirement Link
                            </button>
                            <button type="button" class="btn btn-primary requirement-linking-apply"
                                style="margin: 0 auto;">
                                Apply
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none;">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">
                    Done
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-testcase-linking-modal" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
        <div class="modal-content align-items-center"
            style="color: #232360; font-weight: 900; padding: 0 6%; background-color: #F3F4F8; height: 60vh;">
            <div class="modal-header" style="border-bottom: none; width: 100%;">
                <p class="modal-title fs-3" id="modalTitleId" style="margin-left: auto; margin-right: auto;">
                    Edit Testcase Linking
                </p>
            </div>
            <div class="modal-body d-flex flex-column" style="border-bottom: none; width: 100%; overflow-y: auto;">
                <div class="row mb-3">
                    <p style="color: #9C9C9C; font-weight: 600;">Linking to other testcases</p>
                </div>
                <div class="row mb-3 flex-grow-1">
                    <div class="col-4" style="background-color: #FFFFFF; border-radius: 5%; overflow-y: auto;">
                        <div class="d-flex justify-content-between align-items-center p-3"
                            style="border-bottom: solid rgba(150,150,150,0.2) 1px; height: fit-content">
                            <p style="color:#232360; font-size: 1.1rem; padding: 0; margin: 0; font-weight: bold;">
                                Modules</p>
                        </div>
                        <div class="d-flex flex-column gap-1 modules-list px-3 py-1"
                            style="color: #232360; font-weight: 700; font-size: 1rem;">
                            {{#each modules}}
                            <div>
                                <i class="bi bi-folder"></i>
                                {{name}}
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="col-7 offset-1" style="background-color: #FFFFFF; border-radius: 5%;">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <th class="col-1" style="opacity: 0;"><input type="checkbox"></th>
                                    <th class="col-4">Testcase Code</th>
                                    <th class="col-7">Testcase Title</th>
                                </thead>
                                <tbody class="test-case-list">
                                    {{#each allTestcases}}
                                    <tr>
                                        <td><input type="checkbox" class="testcase-checkbox"></td>
                                        <td class="testcase-code">{{this.testcase_id}}</td>
                                        <td class="testcase-name">{{this.name}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer gap-4" style="border-top: none;">
                <button type="button" class="btn btn-secondary back-button"
                    style="background-color: #D34164; color: #FBE416; border: none; border-radius: 10px; padding: 10px 40px; font-weight: 600;"
                    onclick="$(this).closest('modal').fadeOut();">
                    Go back
                </button>
                <button type="button" class="btn btn-secondary add-button"
                    style="background-color: #41D37E; color: #23235F; border: none; border-radius: 10px; padding: 10px 40px; font-weight: 600;">
                    Add
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-requirement-linking-modal" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
        <div class="modal-content align-items-center"
            style="color: #232360; font-weight: 900; padding: 0 6%; background-color: #F3F4F8; height: 60vh;">
            <div class="modal-header" style="border-bottom: none; width: 100%;">
                <p class="modal-title fs-3" id="modalTitleId" style="margin-left: auto; margin-right: auto;">
                    Edit Requirement Linking
                </p>
            </div>
            <div class="modal-body d-flex flex-column" style="border-bottom: none; width: 100%; overflow-y: auto;">
                <div class="row mb-3">
                    <p style="color: #9C9C9C; font-weight: 600;">Linking to Project's Requirements</p>
                </div>
                <div class="row mb-3 flex-grow-1">
                    <div class="col-4" style="background-color: #FFFFFF; border-radius: 5%; overflow-y: auto;">
                        <div class="d-flex justify-content-between align-items-center p-3"
                            style="border-bottom: solid rgba(150,150,150,0.2) 1px; height: fit-content">
                            <p style="color:#232360; font-size: 1.1rem; padding: 0; margin: 0; font-weight: bold;">
                                Requirement</p>
                        </div>
                        <div class="d-flex flex-column gap-1 modules-list px-3 py-1"
                            style="color: #232360; font-weight: 700; font-size: 1rem;">
                            {{#each requirements_type}}
                            <div>
                                <i class="bi bi-folder"></i>
                                {{this.name}}
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="col-7 offset-1" style="background-color: #FFFFFF; border-radius: 5%;">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <th class="col-1" style="opacity: 0;"><input type="checkbox"></th>
                                    <th class="col-4">Requirement Code</th>
                                    <th class="col-7">Requirement Title</th>
                                </thead>
                                <tbody class="requirement-list">
                                    {{#each requirements}}
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td class="requirement-code">{{this.requirement_code}}</td>
                                        <td class="requirement-name">{{this.requirement_name}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer gap-4" style="border-top: none;">
                <button type="button" class="btn btn-secondary back-button"
                    style="background-color: #D34164; color: #FBE416; border: none; border-radius: 10px; padding: 10px 40px; font-weight: 600;"
                    onclick="$(this).closest('modal').fadeOut();">
                    Go back
                </button>
                <button type="button" class="btn add-button"
                    style="background-color: #41D37E; color: #23235F; border: none; border-radius: 10px; padding: 10px 40px; font-weight: 600;"
                    onclick="">Add</button>
            </div>
        </div>
    </div>
</div>